.credits {
    background-color: #111;
    color: #CCCCCC;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.credits > * {
    width: 18%;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

/* For screens smaller than 768px (e.g., smartphones) */
/* For screens smaller than 768px (e.g., smartphones) */
@media (max-width: 768px) {
    .credits {
      flex-direction: column;
      align-items: center;
    }
  
    .credits > * {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .social {
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }
  }
  
  /* For screens smaller than 576px (e.g., small smartphones) */
  @media (max-width: 576px) {
    .credits {
      padding: 10px;
      text-align: center;
    }
  
    .credits > * {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .social {
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      margin-top: 10px;
    }
  
    .social > * {
      margin: 5px;
    }
  }
  