.navbar {
    background-color: #111;
    display: flex;
    justify-content: space-between;
    padding: 8px 50px;
    color: #CCCCCC;
    flex-flow: row wrap;
    align-items: center;
}

.lists {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.list {
    font-weight: bold;
    list-style: none;
    margin-left: 30px;
}