.navbar {
    color: #cccc;
    font-size: 17.5px;
    padding: 10px 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 40px;
}


.logo img {
    animation: bounce 1s infinite;
  }

.link {
    margin-left: 20px;
}

.mobilelinks {
    color: #cccc;
    display: none;
}

.navIcons {
    display: none;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3px);
    }
  }


@media (max-width: 768px) {
    .links {
        display: none;
    }
    
    
    .navbar {
        
        font-size: 17.5px;
        padding: 5px 10px 0 5px;
        margin-bottom: 0;
        
        
    }
    
    .mobilelinks {
        background-color: #cccccc;
        color: #ccc;
        position: absolute;
        display: block;
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        height: 90vh;
        justify-content: flex-start;
        padding: 60px 0;
    }

    .mobilelink {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: 1px solid #111;
        text-align: center;
        padding: 20px;
        margin: 10px auto;
        background-color: #222;
        width: 70%;
        margin-bottom: 40px;
    }
    
    .navIcons {
        display: block;
    }
  }