.main {
  width: 550px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #222;
  margin: 20px;
  border: 0.3px solid #313131;
}

.infoContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.projectimage {
  width: 100%;
  overflow: hidden;
}

.projectimage img {
  width: 100%;
  height: auto;
}

/* .projecttitle,
.projectdes,
.tech,
.projectcta {
  margin: 10px;
} */

.projectdes,
.tech {
  font-size: 16px;
}

.projecttitle {
  font-family: someBoldFont;
  font-size: 17px;
}

.demo {
  background-color: #b72730;
  color: #ccc;
}

.demo:hover {
  background-color: rgb(157, 20, 29);
}

.demo,
.code {
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 14px;
}

.code:hover {
  background-color: #fff;
}

.code {
  color: #111;
  background-color: #ccc;
}

.projectcta {
  display: flex;
  gap: 10px;
  margin: 5px 0;
}
/* For screens smaller than 768px (e.g., smartphones) */
@media (max-width: 768px) {
  .main {
    width: 90%;
    margin: 0px;
  }

  .infoContainer {
    height: auto;
  }

  .projectcta {
    flex-direction: column;
  }

  .code,
  .demo {
    text-align: center;
  }
}

/* For screens smaller than 576px (e.g., small smartphones) */
@media (max-width: 576px) {
  .main {
    margin: 10px;
    /* border-bottom: 1px solid #ccc; */
  }

  .projectimage img {
    width: 100%;
    height: auto;
  }
}
