/* SECTION 1 */

.section1 {
    background-color: #111; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    color: #CCCCCC;
    padding: 30px 100px;
}

.meraphoto img {
    border-radius: 150px;
    margin-right: 50px;
    border: 2px solid #CCCCCC;
}

.helloworld {
    margin-left: 50px;
    width: 50%;
}

.helloworld > * {
    margin: 10px;
}

.myname{
    color: #b72730;
    font-size: 18px;
    font-weight: bold;
}

.jobdes{
    color: #a5a5a5;
}

.contactinfo {
    margin-right: 40px;
}

.ctabutton {
    cursor: pointer;
    font: inherit;
    padding: 10px 30px;
    font-weight: bold;
    color: #CCCCCC;
    background-image: linear-gradient(to bottom, #b3060f, #f00000);;
    border: none;
    transition: background-color 1s ease;
    margin-top: 10px;
}

.ctabutton:hover {
    /* Hover styles */
    background-image: linear-gradient(to bottom, #f00000, #b3060f);
    /* Add any other hover styles you want */
  }
  
  .ctabutton:active {
    /* Active styles when button is clicked/pressed */
    background-image: linear-gradient(to bottom, #8b0000, #b3060f);
    /* Add any other active styles you want */
  }

/* SECTION 2 */

.services {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    background-color: #222;
    padding: 20px 30px;
    color: #CCCCCC;
}

.servicecontainer {
    background-color: #111;
    padding: 30px 30px;
    width: 25%;
    margin: 50px 0;
}

.servicecontainer > * {
    margin: 15px 10px;
}

.frontend {
    background-color: #b72730;
}

/* SECTION 3 */
.projects{
    background-color: #111;
    color: #CCCCCC;
    padding: 50px 20px;
}
.sectiontitle{
    
    text-align: center;
}



.projectcontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.showmore {
    margin: auto;
    width: 150px;
}

/* SECTION 4 */

.contactme {
    background-color: #222;
    padding: 20px;
}

.contactcontainer {
    background-color: #111;
    width: 55%;
    color: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px auto 20px auto;
    padding: 30px;

}

.contactme h4 {
    font-size: 40px;
}

.contactdes {
    margin: 20px 0;
    color: #a5a5a5;
}

@media (max-width: 768px) {
    .section1 {
        padding: 30px;
    }

    .myname {
        text-align: center;
    }

  

    .meraphoto img {
      width: 120px;
      height: 120px;
    }
  
    .helloworld {
      width: 100%;
      margin-left: 0;
    }
  
    .servicecontainer {
      width: 100%;
    }
  
    .projectcontainer {
      flex-direction: column;
    }
  
    .contactcontainer {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .contactme h4 {
      font-size: 30px;
      padding: 10px;
    }
  }