.main {
  background-color: #111;
  color: #ccc;
  padding: 30px 20px;
}

.main h1 {
  text-align: center;
  margin: 20px;
}

.projectlist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}
